body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #CAF0F8, #ADE8F4, #90E0EF, #48CAE4, #00B4D8);  color: #fff;
  height: 100%;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 10px 0;
  /*background-image: url('img/me.jpg');*/
  background-size: cover;
  background-position: center;
  color: white;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*margin-bottom: 5px;*/
}

header h1 {
  font-size: 24px;
  /*margin-bottom: 5px;*/
  font-family: 'Poppins Black';
  text-transform: uppercase;
}

header h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Space Time';
  color: #000;
  
}

header p {
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Poppins';
  color: black;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav .nav-links li {
  display: inline;
}

nav .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*background: url('background.jpg') no-repeat center center/cover;*/
  color: white;
  position: relative;
  margin-top: 80px;
}

.content h1 {
  font-size: 3rem;
  /*margin-bottom: 0.5rem;*/
}

.content h1 .highlight {
  color: #ff8a00;
}

.content h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 0.7rem 2rem;
  background: #ff8a00;
  border-radius: 30px;
  transition: background 0.3s ease;
  text-align: center;
  justify-content: center;
}

.btn:hover {
  background: #e52e71;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item+.info-item {
  margin-top: 40px;
}

.contact .info-item i {
  color: var(--accent-color);
  background: color-mix(in srgb, var(--accent-color), transparent 92%);
  font-size: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .php-email-form {
  height: 100%;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 25%);
}